@media screen and (max-width: 1920px) {
    #primary {
        width: 100%;
    }
    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #976dcb;
}

::-webkit-scrollbar-thumb:hover {
    background: #60546D;
}

::placeholder {
    color: #60546D;
}

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-repeat: repeat;
    font-size: 14px;
    margin: 0px;
    min-height: 100vh;
    color: #3533a4;
}

i {
    color: #976dcb;
}

i:hover {
    cursor: pointer;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.67);
    transition: all 0.4s ease 0s;
}

i:active {
    transition: all .4s ease 0s;
}

img {
    width: auto;
    height: auto;
    margin-left: 24%;
}

img.logo {
    height: 30px;
    width: 37px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

#splash {
    position: fixed;
    background-color: #f2f2f2;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    display: inline-block;
    animation: fadeIn 4.8s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    ;
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.nav {
    position: sticky;
    padding: 0.4em;
    top: 0;
    background: linear-gradient(30deg, rgba(112, 99, 161, 1) 0%, rgba(76, 52, 163, 1) 100%);
    text-align: center;
    max-width: 100%;
    box-shadow: 0px 5px 10px rgba(112, 99, 161, 0.4);
    display: flex;
}

.controls {
    display: flex 
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.card {
    text-align: center;
    margin-bottom: 3%;
    max-width: 100%;
}

.container {
    margin-top: 3%;
    background-color: #fdfdfd;
    height: auto;
    width: auto;
    min-width: 42%;
    display: inline-block;
    box-shadow: -3px 5px 12px #dee4ee;
    border-radius: 10px;
}

.header {
    background: linear-gradient(30deg, rgba(112, 99, 161, 1) 0%, rgba(76, 52, 163, 1) 100%);
    height: 15vh;
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: auto;
    padding: 10px;
}

.inv,
.co {
    text-align: left;
    margin-left: 5px;
    color: #fff;
    margin-top: 5px;
}

.date {
    text-align: right;
    color: #F3F3F3;
    margin-right: 5px;
    margin-top: 5px;
}

.inv {
    font-size: 2em;
    font-family: Poppins;
    font-weight: bolder;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 30%;
    width: 90%;
    max-width: 100%;
    padding-bottom: 30px;
}

th {
    text-align: right;
    color: #303778;
    font-weight: lighter;
    padding: 8px;
}

td {
    text-align: right;
    padding: 8px;
}

tr.first-row {
    border-bottom: 1px solid #ccc;
}

.calc {
    float: right;
    background-color: #eee;
    height: 100px;
    width: 40%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid #ccc;
}

.empty {
    float: left;
    height: 100px;
    width: 40%;
    background-color: transparent;
    margin-left: 10%;
}

input[type=text]#item-name,
#item-qty,
#item-price {
    text-align: center;
    background-color: white;
    border: none;
    margin: 8px;
    padding: 7px;
    border-radius: 4px;
}

input[type=text]#disc-amt,
#vat-rate {
    text-align: right;
    background-color: white;
    border: 1px solid #ddd;
    margin: 8px;
    padding: 7px;
    border-radius: 4px;
    margin-right: -8px;
}

input[type=text]#item-name:hover,
#item-price:hover,
#item-qty:hover {
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.17);
}

input[type=text]:focus {
    outline: none;
}

input#add-btn, input#prnt-btn {
    width: 130px;
    color: #EEEEEE;
    font-weight: bold;
    background-color: #5ebb62;
    border: none;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.4s ease 0s;
}

input#add-btn:hover, input#prnt-btn:hover{
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.17);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

input#add-btn:active {
    transition: all .8s ease 0s;
    box-shadow: 0px 2px 20px -10px rgba(0, 0, 0, 0.17) inset;
}

input[type=button]:focus {
    outline: 0;
}

input[type="text"]:disabled {
    text-align: right;
    background: transparent;
    border: 0px;
    outline: none;
}

#close{
    float:right;
}
#close:hover{
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-header {
    padding: 2px 16px;
    background-color: #eee;
    color:grey;
}
  
  /* Modal Content */
  .modal-content {
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    height: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;

    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    
  }
  p#warning{
    margin-top: 13%;
    left: 50%;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  
  .modal-body {padding: 2px 16px;}
  
